@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.banner{
  background: url(./assets/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-reveal{
  animation: leftslide 0.8s;
}

@keyframes leftslide {
  from {
    transform: translateX(-700px);
 }
  to {
    transform: translateX(0px);
 }
}

